:root {
  /* основной цвет текста */
  --main-text-color: #757575;
  /* дополнительный цвет текста */
  --minor-text-color: #ffffff;
  /* цвет интерактивных элементов и части логтипа */
  --accent-text-color: #2196f3;
  /* цвет заголовков */
  --title-text-color: #212121;

  /* основной цвет фона */
  --main-bg-color: #ffffff;
  /* дополнительный цвет фона */
  --minor-bg-color: #f5f4fa;
  /* цвет фона повышенного внимания */
  --hero-bg-color: #2f303a;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

body a {
  text-decoration: none;
}

.logo {
  color: var(--title-text-color);

  font-family: Raleway, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.web {
  color: var(--accent-text-color);
}
