/* Палитра цветов */
:root {
  /* основной цвет текста */
  --main-text-color: #757575;
  /* дополнительный цвет текста */
  --minor-text-color: #ffffff;
  /* дополнительный цвет текста с прозрачностью */
  --alpha-minor-text-color: rgba(255, 255, 255, 0.6);
  /* цвет интерактивных элементов и части логтипа */
  --accent-text-color: #2196f3;
  /* цвет заголовков */
  --title-text-color: #212121;

  /* основной цвет фона */
  --main-bg-color: #ffffff;
  /* дополнительный цвет фона */
  --minor-bg-color: #f5f4fa;
  /* цвет фона повышенного внимания */
  --hero-bg-color: #2f303a;
}

/* Общие настройки */
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}
body a {
  text-decoration: none;
}
body li {
  list-style-type: none;
}
a {
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
}

/* Хедер */
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.header a:hover,
a:focus {
  color: var(--accent-text-color);
}
.nav {
  color: var(--title-text-color);
}

/* Футер */
.footer {
  background-color: var(--hero-bg-color);

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer .logo,
.adress {
  color: var(--minor-text-color);
}
.contacts {
  color: var(--alpha-minor-text-color);
}

/* Логотип (Внимание! Ставить после футера и хедера чтобы победила специфичность ховера/фокуса в футере - иначе не работает) */
.logo {
  color: var(--title-text-color);

  font-family: Raleway, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.web {
  color: var(--accent-text-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-text-color);
}

/* Cекция-герой */
.hero-business {
  background-color: var(--hero-bg-color);
  color: var(--minor-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  background-color: var(--accent-text-color);
  color: var(--minor-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}
.hero-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.hero-list {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.about-us {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
}

.members {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.members h3 {
  font-weight: 500;
}
